[Desktop Entry]
Name=Fresh
X-KDE-PluginInfo-Name=Fresh
X-KDE-PluginInfo-Author=axo1otl
X-KDE-PluginInfo-Email=bluepancake72@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0


