[Desktop Entry]
Name=Wildberry
X-KDE-PluginInfo-Name=Wildberry
X-KDE-PluginInfo-Author=Nitrux Latinoamericana S.C.
X-KDE-PluginInfo-Email=hello@nxos.org
X-KDE-PluginInfo-License=GPLv3


