[Desktop Entry]
Name=Bubblegum
X-KDE-PluginInfo-Name=Bubblegum
X-KDE-PluginInfo-Author=Nitrux Latinoamericana S.C.
X-KDE-PluginInfo-Email=hello@nxos.org
X-KDE-PluginInfo-License=GPLv3


